/* LIGHT MODE */
:root {
  /* Colors */
  --bg: #fff;
  --bg-1: rgb(245, 245, 245);
  --bg-alt: #333;
  --bg-alt-2: #f0f0f0;
  --bg-transparent: #ffffffe8;
  --border: 0.15rem solid #333;
  --border-1: 2.5px solid black;
  --text: #333;
  --text-alt: #fff;
  --icon: black;
  --checkmark: url(/assets/icons/checkmark-black.webp);
  /* Face animations */
  --tl-1: url(/assets/face-animation-light/tl-1.webp);
  --tl-2: url(/assets/face-animation-light/tl-2.webp);
  --tl-3: url(/assets/face-animation-light/tl-3.webp);
  --tl-4: url(/assets/face-animation-light/tl-4.webp);
  --tl-5: url(/assets/face-animation-light/tl-5.webp);
  --tr-1: url(/assets/face-animation-light/tr-1.webp);
  --tr-2: url(/assets/face-animation-light/tr-2.webp);
  --tr-3: url(/assets/face-animation-light/tr-3.webp);
  --tr-4: url(/assets/face-animation-light/tr-4.webp);
  --tr-5: url(/assets/face-animation-light/tr-5.webp);
  --bl-1: url(/assets/face-animation-light/bl-1.webp);
  --bl-2: url(/assets/face-animation-light/bl-2.webp);
  --bl-3: url(/assets/face-animation-light/bl-3.webp);
  --bl-4: url(/assets/face-animation-light/bl-4.webp);
  --bl-5: url(/assets/face-animation-light/bl-5.webp);
  --br-1: url(/assets/face-animation-light/br-1.webp);
  --br-2: url(/assets/face-animation-light/br-2.webp);
  --br-3: url(/assets/face-animation-light/br-3.webp);
  --br-4: url(/assets/face-animation-light/br-4.webp);
  --br-5: url(/assets/face-animation-light/br-5.webp);
}

/* DORK MODE */

:root.dark__mode {
  --bg: #202124;
  --bg-1: #333;

  --bg-alt: #3c3d40;
  --bg-alt-2: #2b2929;
  --bg-transparent: #333333f5;
  --border: 0.15rem solid #5a5a5a;
  --border-1: 2.5px solid #fff;
  --icon: #fff;
  --text: #fff;

  --checkmark: url(/assets/icons/checkmark-white.webp);

  --tl-1: url(/assets/face-animation-dark/tlw-1.webp);
  --tl-2: url(/assets/face-animation-dark/tlw-2.webp);
  --tl-3: url(/assets/face-animation-dark/tlw-3.webp);
  --tl-4: url(/assets/face-animation-dark/tlw-4.webp);
  --tl-5: url(/assets/face-animation-dark/tlw-5.webp);
  --tr-1: url(/assets/face-animation-dark/trw-1.webp);
  --tr-2: url(/assets/face-animation-dark/trw-2.webp);
  --tr-3: url(/assets/face-animation-dark/trw-3.webp);
  --tr-4: url(/assets/face-animation-dark/trw-4.webp);
  --tr-5: url(/assets/face-animation-dark/trw-5.webp);
  --bl-1: url(/assets/face-animation-dark/blw-1.webp);
  --bl-2: url(/assets/face-animation-dark/blw-2.webp);
  --bl-3: url(/assets/face-animation-dark/blw-3.webp);
  --bl-4: url(/assets/face-animation-dark/blw-4.webp);
  --bl-5: url(/assets/face-animation-dark/blw-5.webp);
  --br-1: url(/assets/face-animation-dark/brw-1.webp);
  --br-2: url(/assets/face-animation-dark/brw-2.webp);
  --br-3: url(/assets/face-animation-dark/brw-3.webp);
  --br-4: url(/assets/face-animation-dark/brw-4.webp);
  --br-5: url(/assets/face-animation-dark/brw-5.webp);
}

/* COLOR MODE TOGGLE BUTTON */
#color__mode {
  background: var(--bg-alt-2);
  height: 2.75rem;
  width: 4rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#toggle__button {
  background-image: url(/assets/icons/sun.webp);
  background-size: cover;
  cursor: pointer;
}

.toggle__icon {
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem;
}

.dark__mode #toggle__button {
  background-image: url(../assets/icons/moon.webp);
}

.dark__mode #color__mode {
  justify-content: flex-end;
}
